{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% if category and category in DISPLAY_CATEGORIES_ARTICLES_AS_LIST %}
            <h2>{{ category }}</h2>
            <table class='table table-condensed table-striped'>
                <tbody>
                    {% for line in articles|sort(attribute='title')|batch(2, fill_with='') %}
                        <tr>
                        {% for article in line %}
                            <td>
                                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                                {% include 'includes/comment_count.html' %}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% for article in (articles_page.object_list if articles_page else articles) %}
                <article>
                    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        <div class="well well-sm">
                            {% include "includes/article_info.html" %}
                        </div>
                    {% endif %}
                    <div class="summary">{{ article.summary }}
                        {% include 'includes/comment_count.html' %}
                        <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                    </div>
                </article>
                <hr/>
            {% endfor %}
            {% include 'includes/pagination.html' %}
        {% endif %}
    {% endif %}

{% endblock content %}
